session.db
session/
node_modules/
scratch/
backups/
temp/
tmp/
sessions/
1790693289*
*.log
.env
.env.*
!.env.example
src/database/
database/lid.json
assets/images/qris.*
bin/yt-dlp
discloud.config
*.zip